@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1px;
}

.stats {
  box-shadow: 0px 1px 14.1px 0px rgba(0, 0, 0, 0.06);
}

.search--bar {
  border-radius: 4px!important;
}


* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

#root {
  /* border: 1px solid red; */
}

.hero {
  /* border: 1px solid black; */
  /* padding: 0; */
  /* border: 1px solid black; */
}

body,html {
  background-color: #F8F8F8;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  overflow-x: hidden;
  /* border: 1px solid red; */
}

a, a:link a:visited {
  color: #000;
}

h1, h2, h3, h4, h5 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

body {
  /* font-family: 'Playfair Display', serif; */
  font-family: "Roboto"
}

.globalScrollbar::-webkit-scrollbar {
  background-color: #bebdbd;
  width: 4px;
  padding: 1px;
}
.globalScrollbar::-webkit-scrollbar-thumb {
  background-color: #6e645e;
}

@media ( min-width: 760px ) {
  .scrollbar::-webkit-scrollbar {
    background-color: #bebdbd;
    width: 4px;
    padding: 1px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #8B4513;
  }
}


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;

}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;

}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
